<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.robotics.blinkblink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlinkBlink">
        <activity
            android:name=".Activity.Groups.GroupMainActivity.GroupMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Posts.PostsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SendPosts.SendPostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FollowersFollowing.FollowingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FollowersFollowing.FollowersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImageListPerson.ImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Groups.MakeGroups.MakeGroupsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Groups.GroupChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SingleChat.AddChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Comments.CommentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewMessage.NewMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConfidActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditPrifile.EditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Groups.AddContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoctaNomerRegistrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login.NumberPochtaNameauth"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddFriends.addFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Chats.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Users.UserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.blinkblink.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>